<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <input id="title" type="button" class="btn btn-primary sort-by" value="Sort By Title" />
      <input id="date" type="button" class="btn btn-primary sort-by" value="Sort By Release Date" />
      <input id="genre" type="button" class="btn btn-primary sort-by" value="Sort By Genre Id" />
      <br><br>
      <div id="movies_list">
      </div>
    </div>
  </div>
</div>
