<h1>Hello World</h1>
<div id="movies_list">
  <form accept-charset="UTF-8" action="/movies/the_id" method="get">
    <input id="title" name="title" type="hidden" value="the_title" />
    <input type="submit" value="See Reviews" />
  </form>
</div>
